@model PasswordGenerator.ViewModels.CreateViewModel;
@{
  ViewData["Title"] = "Generated Password";
}

<div class="card">
  <div class="card-body col-6">
    <h2 class="card-title">
      Your New Password
    </h2>
    <p class="card-text">
      This is text. Password is @Model.Length chars long
    </p>
  </div>
</div>
