@model PasswordGenerator.ViewModels.CreateViewModel;
@{
  ViewData["Title"] = "Generated Password";
}

<div class="card">
  <div class="card-body col-6">
    <h2 class="card-title">
      Generated Password
    </h2>
    <p class="card-text mt-4">
      Your password is <strong>@Model.NewPassword</strong>
    </p>
    <div class="">
      <a asp-controller="Home" asp-action="Index" class="btn btn-primary" id="backHome">Back</a>
    </div>
  </div>
</div>
