@model PasswordGenerator.ViewModels.CreateViewModel
@{
    ViewData["Title"] = "Password Generator";
}

<div id="containerDiv" class="row justify-content-between">
  
 @* Controls *@
  <div class="col-12 col-lg-6">
    <form id="optionsForm" method="post" asp-controller="Home" asp-action="Create">
      @* Validation errors/messages to user *@
     <div asp-validation-summary="ModelOnly" class="text-danger fw-bold mb-3 text-center" role="alert"></div>
    <div id="length-container" class="col-12 col-lg-6 mb-1 p-1">
      <label asp-for="PasswordLength" class="form-label"><h4>Length</h4></label>
        <select asp-for="PasswordLength" class="form-select" aria-label="Password length" required>
        <option value="" selected>Password length</option>
        @for(int i = 20; i > 7; i--)
        {
          <option value="@i">@i</option>
        }
      </select>
        <span asp-validation-for="PasswordLength" class="text-danger small mt-1 d-block"></span>
    </div>

    <div id="complexity-container" class="mb-4 p-1">
      <h4 class="">Complexity</h4>
        <div class="form-check">
          <input asp-for="SpecialChars" class="form-check-input" type="checkbox" id="specialChars">
          <label class="form-check-label" asp-for="SpecialChars">
            Special Characters
          </label>
        </div>
        <div class="form-check">
          <input asp-for="Numbers" class="form-check-input" type="checkbox" id="numbers">
          <label class="form-check-label" asp-for="Numbers">
            Numbers
          </label>
        </div>
        <div class="form-check">
          <input asp-for="UpperCase" class="form-check-input" type="checkbox" id="upperCase">
          <label class="form-check-label" asp-for="UpperCase">
            Uppercase letters
          </label>
        </div>
        <div class="form-check">
          <input asp-for="LowerCase" class="form-check-input" type="checkbox" id="lowerCase">
          <label class="form-check-label" asp-for="LowerCase">
            Lowercase letters
          </label>
        </div>
    </div>
    <button type="submit" class="btn btn-success" id="generateButton">CREATE PASSWORD</button>
    </form>
  </div>

  @* User Guidelines *@
  <div class="col-12 col-lg-5">
    <h4>Guidelines</h4>
    <ul>
      <li>Use the controls to the left to choose your password length and complexity, then hit <strong>Generate</strong> to create a unique, secure password.</li>
      <li>The <strong>National Institute of Standards and Technology</strong> (NIST) suggests you focus on password <u>length</u>, rather than complexity (mix of special characters, uppercase, lowercase, numbers) to create the most secure password.</li>
      <li><strong>Recommended length:</strong> at least 8 but ideally 15 or more characters</li>
    </ul>
  </div>
</div>

@section styles {
 @*  <link rel="stylesheet" href="~/assets/libs/sweetalert2/sweetalert2.min.css"> *@
  <style type="text/css">
    
  </style>
}
@section scripts {
  @* <script src="~/assets/js/moment.js"></script> *@
  <script type="text/javascript">
    let v = "";

    $(document).ready(async function() 
    {

    });

    function one()
    {

    }

  </script>
}
